<div class="wrapper">
<div class="grid-uniform">
  {% for block in section.blocks %}  
            <div class="grid__item large--two-twelfths medium-down--one-whole text-center home-benefits">
                {% if block.settings.image != blank %}
                	<img src="{{ block.settings.image | img_url: '44x44' }}" alt="{{ block.settings.title }}" class="image-content__image">
                {% else %}
                  <div class="image-content__image">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {% endif %}
                    <h6>{{ block.settings.title }}</h6>
                    <div>{{ block.settings.text }}</div>
              </div>
  {% endfor %}
</div>  
</div>  
{% schema %}
{
  "name": "Touchland Home Benefits",
  "max_blocks": 6,
  "blocks": [
    {
        "type": "text",
        "name": "Image Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image with text"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }
        ]
      }
  ],
  "presets": [
    {
      "name": "Touchland Home Benefits",
      "category": "Touchland"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}